<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Transgasindo - Energy Connect Synergy</title>
    <meta content="Transgasindo - Energy Connect Synergy" name="keywords">
    <meta name="description" content="Transgasindo - Energy Connect Synergy">
    <meta name="author" content="Transgasindo - Energy Connect Synergy">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="/static/assets/img/favicon.png" rel="icon">
    <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400,700" rel="stylesheet">

    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet">

    <link href="/static/assets/css/style.css" rel="stylesheet">
    <link href="/static/assets/css/style-tgi.css" rel="stylesheet">
  </head>

  <body>

    <section id="topbar" class="d-none d-lg-block">
      <div class="container d-flex">
        <div class="contact-info mr-auto">
          <!-- <i class="icofont-envelope"></i><a href="mailto:contact@example.com">contact@example.com</a>
          <i class="icofont-phone"></i> +1 5589 55488 55 -->
          &nbsp;
        </div>
        <div class="social-links">
          <p class="text-language">
            Language : <a href="#">ID</a> &nbsp; |<a href="#" class="active">EN</a>
          </p>
          <!-- <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
          <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
          <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
          <a href="#" class="skype"><i class="icofont-skype"></i></a>
          <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a> -->
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="search">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>
      </div>
    </section>

    <header id="header">
      <div class="container d-flex">

        <div class="logo mr-auto">
          <a href="/">
            <img src="/static/assets/img/logo-transportasi-gas-indonesia.png" alt="Logo Transportasi Gas Indonesia" class="img-fluid">
          </a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li><a href="/company-in-brief">Company in Brief</a></li>
            <li><a href="/operation-services">Operation & Services</a></li>
            <li class="active"><a href="/corporate-activity">Corporate Activity</a></li>
            <li><a href="/investor-relations">Investor Relations</a></li>
            <li><a href="/become-our-customer">Become Our Customer</a></li>
            <li><a href="/information">Information</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>

      </div>
    </header>

    <main id="main">

      <section id="breadcrumbs" class="breadcrumbs">
        <img src="/static/assets/img/img-company-in-brief.jpg">
      </section>

      <section id="testimonials" class="testimonials">
        <div class="container">

          <div class="section-title">
            <h2>Corporate Activity</h2>

            <div class="tabs-page">

              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                  <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab" class="active">Overview</a>
                </li>
                <li role="presentation">
                  <a href="#gcg" aria-controls="gcg" role="tab" data-toggle="tab">Good Corporate Governance</a>
                </li>
                <li role="presentation">
                  <a href="#csr" aria-controls="csr" role="tab" data-toggle="tab">Corporate Social Responsibility</a>
                </li>
                <li role="presentation">
                  <a href="#hse" aria-controls="hse" role="tab" data-toggle="tab">Health Safety Environment</a>
                </li>
              </ul>

              <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="overview">
                  <img src="/static/assets/img/img-page-corporate-activity.jpg" class="image-tabs">
                  <h3>Corporate Activity</h3>
                  <p>
                    Other aspects of increasing corporate values include the implementation of all daily business activities in line with the principles of Good Corporate Governance and Business Ethics. Further, we implement a comprehensive Health, Safety and Environment management system, synergizing every resource, developing local community relations and strengthening communications with and concern for our valued employees.
                  </p>
                </div>

                <div role="tabpanel" class="tab-pane" id="gcg">
                  <h3>Good Corporate Governance</h3>
                  <p>
                    Good Corporate Governance (GCG) is one of the main focuses of TGI that implemented on all aspects of the Company. The commitment intiated from the awareness that consistency in GCG implementation will serve as a strong foundation that reinforces the Company's endeavors to deliver sustainable, responsible and accountable asset management and portfolio services. More specifically, the implementation of GCG in the Company aims to:
                  </p>
                  <ul>
                    <li>
                      Encourage the achievement of the Company's sustainability through GCG principles implementation.
                    </li>
                    <li>
                      Empower the function and independence of corporate organs, namely Board of Commissioners, Board of Directors and General Meeting of Shareholders.
                    </li>
                    <li>
                      Encourage the shareholders, the Board of Commissioners and the Board of Directors to make decisions and carry out their actions based on high moral values and compliance with laws and regulations.
                    </li>
                    <li>
                      Grow awareness and corporate social responsibility to the community and environmental sustainability, especially around the Company.
                    </li>
                    <li>
                      Optimize corporate value for shareholders by taking into account the other stakeholders.
                    </li>
                  </ul>
                  <p>
                    Improve the Company’s competitiveness. In its implementation, TGI always adheres to the principles of Good Corporate Governance (GCG) namely Transparency, Accountability, Responsibility, Independence and Equality. These principles is described as follows:
                  </p>
                  <ul>
                    <li>
                      Transparency Transparency or disclosure containing disclosure elements and the provision of information in a timely manner, adequate, clear, accurate and comparable as well as easily accessible to stakeholders, pertaining to their rights. Through the implementation of transparency principle in the Company’s management, TGI strives to provide comprehensive information that is used in decision-making processes as well as in information disclosure.
                    </li>
                    <li>
                      Accountability Accountability is related to the clarity of functions within the organization as well as the means or mechanisms to account for the function. To actualize the accountability principle in the Company’s management, TGI comprehensively elaborates the responsibilities of each company's organs in the Articles of Association and internal control mechanisms in order to oversee the implementation of each organ’s duties and responsibilities.
                    </li>
                    <li>
                      Responsibility Responsibility is related to TGI compliance with internal legislation, company’s regulations and corporate responsibility toward the environment, communities and other stakeholders. Implementation of responsibility principle in the Company’s management aims to create a sustainable business and meets the criteria as a Good Corporate Citizen.
                    </li>
                    <li>
                      Independence Independence is a principle of independence of any relationship that has the conflict of interest or intervention potential from other parties that may disrupt the Company’s objectivity, including all management and employees in performing their duties and obligations. The Company is continuously managed independently to deliver services and businesses that comply with ethical and moral criteria to shareholders and other stakeholders.
                    </li>
                    <li>
                      Fairness and Equality The principle of fairness is related to fair treatment and equal opportunity to all stakeholders in performing their duties and responsibilities. Through the implementation of equality principle, the Company put forward the principles of justice and antidiscrimination in every business and operational activities.
                    </li>
                  </ul>
                  <p>
                    TGI believes that GCG implementation will enhance the Company's competitive value by strengthening stakeholders' affirmation. Simultaneously, the Company's image will also become more positive thus each unit and business line activity is able to achieve a high level of performance with every targeted business endeavor actualized with positive values.
                  </p>
                </div>

                <div role="tabpanel" class="tab-pane" id="csr">
                  <h3>Corporate Social Responsibility</h3>
                  <p>
                    As a logical continuance of TGI's appreciation of education, knowledge and experience our Corporate Social Responsibility activities are carried out by positioning the Company as an integral part to the environment to create an added value for stakeholders.
                  </p>
                  <p>
                    TGI believe in giving back to the community, has always done surveys and initial analysis on the availability of natural potential and local needs to ensure that our programs are sustainable and adds to the economic value of the local populace. Some of our work programs are:
                  </p>
                  <ul>
                    <li>
                      Economic Empowerment
                    </li>
                    <li>
                      Education Facility Improvement
                    </li>
                    <li>
                      Community Empowerment
                    </li>
                    <li>
                      Public Facilities and Infrastructures Repair
                    </li>
                    <li>
                      Local University Cooperation Program
                    </li>
                    <li>
                      Support for religious activities and celebration
                    </li>
                  </ul>
                  <p>
                    Philanthropic efforts—including donations made by Transgasindo and employees and retirees—are one important way to support a range of such activities. Volunteerism is another, as the Transgasindo Volunteers network facilitates the donation of time and talent to develop and foster communities. In broader endeavors, Transgasindo addresses disaster relief in an equally focused manner, combining volunteerism and product donation to help communities in need.
                  </p>
                  <h3>TGI CSR Activities</h3>
                  <div class="row">
                    <div class="col-md-6">
                      <img src="/static/assets/img/csr-01.jpg" class="image-tabs">
                      <h3>TGI assisted the development of library in Batam area</h3>
                    </div>
                    <div class="col-md-6">
                      <img src="/static/assets/img/csr-02.jpg" class="image-tabs">
                      <h3>TGI held a library management training.</h3>
                    </div>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="hse">
                  <h3>Health & Safety Environment</h3>
                  <p>
                    TGI is committed to excellence in all our activities including giving priority to Health, Safety and Environment (HSE).
                  </p>
                  <p>
                    TGI shall take every reasonable and practicable step to prevent and eliminate injuries, health hazards and damage to property and the environment.
                  </p>
                  <p>
                    TGI shall ensure that the facilities we design, build and operate, and the services we provide, are in accordance with prevailing Indonesian Laws and Regulations, legal requirements, industry standards and best practices.
                  </p>
                  <p>
                    TGI shall operate in accordance with the following HSE principles and actively pursue continuous improvement in these and all related activities:
                  </p>
                  <ul>
                    <li>
                      A safe and conducive working environment shall be provided for all employees.
                    </li>
                    <li>
                      Sufficient resources shall be accountable for the implementation of the HSE policy, and all employees shall be responsible for compliance with the HSE standards.
                    </li>
                    <li>
                      Concerns of the local communities shall be addressed and statutory requirements shall be followed.
                    </li>
                    <li>
                      Contractors managed by TGI shall operate with TGI's HSE standards as a minimum.
                    </li>
                    <li>
                      Risks shall be minimized through identification and assessment to a level As Low As Reasonably Practicable (ALARP).
                    </li>
                    <li>
                      Contingency plans shall be in place to deal with emergencies.
                    </li>
                  </ul>
                  <p>
                    The Board of Directors shall periodically review the Health, Safety and Environment Management System and practices to ensure effectiveness. In protecting the environment, TGI strictly adheres to the applicable standards and regulations. We have taken the proper steps to control erosion, protect the water, solve the sea transport problems and improve the socio-economic condition of the populace. All of those are regularly and well-documented in each and every Right Of Way. The quality of air, water and physical hazards in TGI’s work environment are closely monitored to safeguard against pollution due to the company’s operational activities. We also work together with a certified waste-management company to routinely handle and dispose our waste safely.
                  </p>
                </div>

                <div role="tabpanel" class="tab-pane" id="corporate">
                  <h3>Corporate Identity</h3>
                  <p>
                    To access and/or download the page your requested, we need your cooperation to complete this simple questionnaire. Your data is confidential and will only be used for our verification, TGI database, and more importantly as an input to enhance our website.
                  </p>
                  <form>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control fci" id="" placeholder="Your First Name">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control fci" id="" placeholder="Your Last Name">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="email" class="form-control fci" id="" placeholder="Your e-mail">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control" rows="6" placeholder="Describe your purpose"></textarea>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-default">Send Message</button>
                  </form>
                </div>

              </div>

            </div>

          </div>

        </div>
      </section>


    </main>

    <div class="top-footer-image"></div>

    <footer id="footer">

      <div class="container">
        <div class="link-footer">
          <p>
            <a href="/">Home</a> &nbsp; | &nbsp;
            <a href="/legal-disclaimer">Legal Disclaimer</a> &nbsp; | &nbsp;
            <a href="/privacy_policy">Privacy Policy</a> &nbsp; | &nbsp;
            <a href="/copyright">Copyright</a> &nbsp; | &nbsp;
            <a href="/contact">Contact Us</a>
          </p>
        </div>
        <div class="copyright">
          All Rights Reserved &copy; 2021 Transgasindo
        </div>
      </div>

    </footer>

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/static/assets/vendor/php-email-form/validate.js"></script>
    <script src="/static/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="/static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/static/assets/vendor/counterup/counterup.min.js"></script>
    <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/static/assets/js/main.js"></script>

  </body>

</html>
