<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Transgasindo - Energy Connect Synergy</title>
    <meta content="Transgasindo - Energy Connect Synergy" name="keywords">
    <meta name="description" content="Transgasindo - Energy Connect Synergy">
    <meta name="author" content="Transgasindo - Energy Connect Synergy">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="/static/assets/img/favicon.png" rel="icon">
    <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400,700" rel="stylesheet">

    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet">

    <link href="/static/assets/css/style.css" rel="stylesheet">
    <link href="/static/assets/css/style-tgi.css" rel="stylesheet">
  </head>

  <body>

    <section id="topbar" class="d-none d-lg-block">
      <div class="container d-flex">
        <div class="contact-info mr-auto">
          <!-- <i class="icofont-envelope"></i><a href="mailto:contact@example.com">contact@example.com</a>
          <i class="icofont-phone"></i> +1 5589 55488 55 -->
          &nbsp;
        </div>
        <div class="social-links">
          <p class="text-language">
            Language : <a href="#">ID</a> &nbsp; |<a href="#" class="active">EN</a>
          </p>
          <!-- <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
          <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
          <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
          <a href="#" class="skype"><i class="icofont-skype"></i></a>
          <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a> -->
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="search">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>
      </div>
    </section>

    <header id="header">
      <div class="container d-flex">

        <div class="logo mr-auto">
          <a href="/">
            <img src="/static/assets/img/logo-transportasi-gas-indonesia.png" alt="Logo Transportasi Gas Indonesia" class="img-fluid">
          </a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li><a href="/company-in-brief">Company in Brief</a></li>
            <li><a href="/operation-services">Operation & Services</a></li>
            <li><a href="/corporate-activity">Corporate Activity</a></li>
            <li class="active"><a href="/investor-relations">Investor Relations</a></li>
            <li><a href="/become-our-customer">Become Our Customer</a></li>
            <li><a href="/information">Information</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>

      </div>
    </header>

    <main id="main">

      <section id="breadcrumbs" class="breadcrumbs">
        <img src="/static/assets/img/img-company-in-brief.jpg">
      </section>

      <section id="testimonials" class="testimonials">
        <div class="container">

          <div class="section-title">
            <h2>Investor Relations</h2>

            <div class="tabs-page">

              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                  <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab" class="active">Annual Reports</a>
                </li>
                <li role="presentation">
                  <a href="#gcg" aria-controls="gcg" role="tab" data-toggle="tab">Gas Transportation Agreement</a>
                </li>
              </ul>

              <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="overview">
                  <h3>Annual Reports</h3>
                  <br>
                  <br>
                  <!--Grid row-->
                        <div class="row">

                          {% for bl in myresult %}
                          <div class="col-md-4 col-sm-12 mb-3">
                            <div class="card">
                              <img src="{{bl[3]}}" class="card-img-top" alt="...">

                              <div class="card-body">
                              	<div class="card-title"><h4><a href="{{bl[2]}}">{{bl[1]}}</a></h4></div>
                              	</div>


                              </div>
                            </div>

                          {% endfor %}
                        </div>

                </div>

                <div role="tabpanel" class="tab-pane" id="gcg">
                  <h3>Gas Transportation Agreement</h3>
                  <p>
                    The new Gas Transportation Agreements (GTA) were signed and some requests from potential customers are in sound progress. Those are the remarks of Company’s outstanding growth in term of service sales and volume delivery in the near future. Looking to the medium and longer term, we have identified that our challenge is in operation performance and how to develop Company’s strength represented in our assets, facilities, human empowerment, and also our efficient approach to cost, capital and financial management.
                  </p>
                  <br>
                  <br>
                  <button class="btn btn-primary" href="#">GTA Grissik to Duri Pipeline</button>
                  <br>
                  <br>
                  <br>
                  <td>GTA I Caltex</td>
                  <table class="table"  id="table-tgi">
                      <tbody>
        							<tr>
        							  <td>End Users</td>
        							  <td>: PT. Chevron Pacific Indonesia (CPI)
        							</td>
        							</tr>
        							<tr>
        							  <td>Shippers</td>
        							  <td>: ConocoPhillips (COPI) Grissik</td>
        							</tr>
        							<tr>
        							  <td>Period</td>
        							  <td>: 11 Years</td>
        							</tr>
        							<tr>
        							  <td>Type of Service</td>
        							  <td>: Firm</td>
        							</tr>

        							</tbody>
        							</table>
                      <br>
                      <br>
                      <td>GTA II Caltex</td>
                      <table class="table"  id="table-tgi">
        							<tbody>



        							<tr>
        							  <td>End Users</td>
        							  <td>: PT. Chevron Pacific Indonesia (CPI)
        							</td>
        							</tr>
        							<tr>
        							  <td>Shippers</td>
        							  <td>: ConocoPhillips (COPI) Grissik</td>
        							</tr>
        							<tr>
        							  <td>Period</td>
        							  <td>: 18 Years</td>
        							</tr>
        							<tr>
        							  <td>Type of Service</td>
        							  <td>: Firm</td>
        							</tr>

        							</tbody>
        							</table>
                      <br>
                      <br>
                      <td>GTA III Caltex</td>
                      <table class="table"  id="table-tgi">
        							<tbody>



        							<tr>
        							  <td>End Users</td>
        							  <td>: PT. Chevron Pacific Indonesia (CPI)
        							</td>
        							</tr>
        							<tr>
        							  <td>Shippers</td>
        							  <td>: ConocoPhillips (COPI) Grissik</td>
        							</tr>
        							<tr>
        							  <td>Period</td>
        							  <td>: 8 Years</td>
        							</tr>
        							<tr>
        							  <td>Type of Service</td>
        							  <td>: Firm</td>
        							</tr>

        							</tbody>
        							</table>
                      <br>
                      <br>
                      <td>GTA Energas</td>
                      <table class="table"  id="table-tgi">
        							<tbody>
        							<tr>
        							  <td>End Users</td>
        							  <td>: PLN Payo Selincah
        							</td>
        							</tr>
        							<tr>
        							  <td>Shippers</td>
        							  <td>: Energasindo Heksa Karya</td>
        							</tr>
        							<tr>
        							  <td>Period</td>
        							  <td>: 10 Years</td>
        							</tr>
        							<tr>
        							  <td>Type of Service</td>
        							  <td>: Firm</td>
        							</tr>

        							</tbody>
        							</table>
                      <br>
                      <br>
                      <td>GTA PGN</td>
                      <table class="table"  id="table-tgi">
        							<tbody>



        							<tr>
        							  <td>End Users</td>
                        <td>
          								  <ul>
          								  <li>Pertamina Lirik</li>
              							<li>Pertamina Ukui</li>
              							<li>Indah Kiat Pulp and Paper</li>
              							<li>Riau andalan Pulp and paper</li>
                          </ul>
          							</td>
        							</td>
        							</tr>
        							<tr>
        							  <td>Shippers</td>
        							  <td>: PT. Perusahaan Gas Negara (Persero) Tbk</td>
        							</tr>
        							<tr>
        							  <td>Period</td>
        							  <td>: 18 Years</td>
        							</tr>
        							<tr>
        							  <td>Type of Service</td>
        							  <td>: Firm</td>
        							</tr>

        							</tbody>
        							</table>
                      <br>
                      <br>
                      <td>GTA Jambi Merang Duri</td>
                      <table class="table"  id="table-tgi">
        							<tbody>



        							<tr>
        							  <td>End Users</td>
        							  <td>: PT. Chevron Pacific Indonesia (CPI)
        							</td>
        							</tr>
        							<tr>
        							  <td>Shippers</td>
        							  <td>: JOB Pertamina Talisman Jambi Merang</td>
        							</tr>
        							<tr>
        							  <td>Period</td>
        							  <td>: 1 Year</td>
        							</tr>
        							<tr>
        							  <td>Type of Service</td>
        							  <td>: Firm</td>
        							</tr>

        							</tbody>
        							</table>
                          <br>
                          <br>
                  <button class="btn btn-primary" href="#">GTA Grissik to Singapore Pipeline</button>
                  <br>
                  <br>
                  <td>GTA Singapore</td>
                  <table class="table"  id="table-tgi">
                  <tbody>



                  <tr>
                    <td>End Users</td>
                    <td>: Gas Supply Pvt Ltd
                  </td>
                  </tr>
                  <tr>
                    <td>Shippers</td>
                    <td>: COPI South Jambi , COPI Grissik , PetroChina Jabung</td>
                  </tr>
                  <tr>
                    <td>Period</td>
                    <td>: 20 Years</td>
                  </tr>
                  <tr>
                    <td>Type of Service</td>
                    <td>: Firm</td>
                  </tr>

                  </tbody>
                  </table>
                  <br>
                  <br>
                  <td>GTA Panaran (Batam Distribution Network & PLN)</td>
                  <table class="table"  id="table-tgi">
                  <tbody>



                  <tr>
                    <td>End Users</td>
                    <td>: PT. Chevron Pacific Indonesia (CPI)
                  </td>
                  </tr>
                  <tr>
                    <td>Shippers</td>
                    <td>: PLN</td>
                  </tr>
                  <tr>
                    <td>Period</td>
                    <td>: 15 Years</td>
                  </tr>
                  <tr>
                    <td>Type of Service</td>
                    <td>: Firm</td>
                  </tr>

                  </tbody>
                  </table>

                </div>

              </div>

            </div>

          </div>

        </div>
      </section>


    </main>

    <div class="top-footer-image"></div>

    <footer id="footer">

      <div class="container">
        <div class="link-footer">
          <p>
            <a href="/">Home</a> &nbsp; | &nbsp;
            <a href="/legal-disclaimer">Legal Disclaimer</a> &nbsp; | &nbsp;
            <a href="/privacy_policy">Privacy Policy</a> &nbsp; | &nbsp;
            <a href="/copyright">Copyright</a> &nbsp; | &nbsp;
            <a href="/contact">Contact Us</a>
          </p>
        </div>
        <div class="copyright">
          All Rights Reserved &copy; 2021 Transgasindo
        </div>
      </div>

    </footer>

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/static/assets/vendor/php-email-form/validate.js"></script>
    <script src="/static/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="/static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/static/assets/vendor/counterup/counterup.min.js"></script>
    <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/static/assets/js/main.js"></script>

  </body>

</html>
