<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PT Transportasi Gas Indonesia - Content Management System</title>
    <link rel="stylesheet" href="/static/assetscms/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/assetscms/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assetscms/css/styles.min.css">
    <style media="screen">
    .bg-gradient-primary {
      background-color: #4e73df;
      background-image: linear-gradient(
    180deg
    ,#227750 10%,#00a65a);
    }
    .btn-link {
      color: #227750;
    }
    .btn-link:hover {
      color: #227750;
    }

    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>{{username_user}}</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <!-- <li class="nav-item" role="presentation"><a class="nav-link" href="/tgi_cms/index"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li> -->
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/tgi_cms/management"><i class="fas fa-user"></i><span>Management</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/tgi_cms/news"><i class="fas fa-newspaper"></i><span>News</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/tgi_cms/annualreport"><i class="fas fa-chart-bar"></i><span>Annual Report</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/tgi_cms/message"><i class="fas fa-envelope"></i><span>Message</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/tgi_cms/logout"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button></div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">TGI Management</h3>
                    </div>

                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                      <form id="upload-form" action="/tgi_cms/management/edit_proc" method="post" enctype="multipart/form-data">

                        <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right" for="form32">Management</label>
                          <input hidden type="text" id="form34" class="form-control validate" name="id" value="{{id}}" required>
                          <select name="Management" id="Management" required>
                            <option value="Directors">Directors</option>
                            <option value="Commisioners">Commisioners</option>
                            <option value="{{Management}}" selected>{{Management}}</option>
                          </select>
                        </div>
                        <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right" for="form32">Gambar</label>
                          <input type="file" id="form34" class="validate" name="file" required>
                        </div>
                        <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right" for="form32">Nama</label>
                          <input type="text" id="form34" class="form-control validate" name="Nama" value="{{Nama}}" maxlength="50" required>
                        </div>
                        <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right" for="form32">Jabatan</label>
                          <input type="text" id="form34" class="form-control validate" name="Jabatan" value="{{Jabatan}}" maxlength="50" required>
                        </div>

                        <div class="d-flex justify-content-center">
                          <button type="submit" value="submit" class="btn btn-success ">Send</button>
                        </div>

                      </form>
                    </div>

                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>All Rights Reserved © 2021 Transgasindo</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="/static/assetscms/js/jquery.min.js"></script>
    <script src="/static/assetscms/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/static/assetscms/js/script.min.js"></script>
</body>

</html>
